* {
  @nest
  .card > & {
    padding-left: var(--padding);
    padding-right: var(--padding);
  }
}

.card {
  --padding: 16px;

  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  background-color: var(--color-white);
  box-shadow: 1px 2px 10px 0 var(--color-gray-1);
}

.card__check-line {
  display: flex;
  margin-bottom: 12px;
  cursor: pointer;
}

.card__checkbox {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  width: 16px;
  height: 16px;
  border: 1px solid var(--color-gray-2);
  border-radius: 2px;

  @nest
  .js_checked &::before {
    content: "";
    transform: translateY(-2px) rotate(-45deg);
    width: 50%;
    height: 50%;
    border: inherit;
    border-top-style: none;
    border-right-style: none;
  }
}

.card__footer {
  margin-top: auto;
  display: flex;
}

.card__id {
  margin-right: 16px;
}

.card__name {
  margin-top: 0;
  margin-bottom: 12px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: var(--color-gray-3);
}

.card__organization {
  margin-bottom: 10px;
}

.card__ptrn {
  margin-bottom: 10px;
}

.card__sum {
  margin-bottom: 16px;
}

.card__taglist {
  margin-bottom: 16px;
}

.card__tip {
  flex-grow: 1;
  font-weight: 700;
  font-size: 16px;
  color: var(--color-darkblue);
}
