html {
  --color-black: #101010;
  --color-darkblue: #151b3d;
  --color-darkgray: #272727;
  --color-lightgray: #fafbfd;
  --color-gray-1: #c5c7dc;
  --color-gray-2: #a8a8a8;
  --color-gray-3: #eaecf5;
  --color-gray-4: #f1f1f1;
  --color-white: #ffffff;
}
